@font-face {
  font-family: Millunium-Medium;
  src: url("../fonts/Millunium-Medium/Millunium-Medium.ttf"), url("../fonts/Millunium-Medium/Millunium-Medium.eot") format("eot"), url("../fonts/Millunium-Medium/Millunium-Medium.woff2") format("woff2"), url("../fonts/Millunium-Medium/Millunium-Medium.woff") format("woff"), url("../fonts/Millunium-Medium/Millunium-Medium.ttf") format("truetype"), url("../fonts/Millunium-Medium/Millunium-Medium.svg") format("svg");
}
@font-face {
  font-family: Millunium-Bold;
  src: url("../fonts/Millunium-Bold/Millunium-Bold.ttf");
}
@font-face {
  font-family: Raleway-Regular;
  src: url("../fonts/Raleway/Raleway-Regular.ttf");
}
@font-face {
  font-family: Raleway-Medium;
  src: url("../fonts/Raleway/Raleway-Medium.ttf");
}
@font-face {
  font-family: Raleway-Bold;
  src: url("../fonts/Raleway/Raleway-Bold.ttf");
}
a {
  text-decoration: none;
}

body {
  font-family: Raleway-Medium, sans-serif;
  letter-spacing: 0;
  background: #fff;
  margin: 0;
  padding: 0;
}

.button {
  color: white;
  padding: 14px 0;
  font-family: Raleway-Bold, sans-serif;
  font-size: 15px;
  background: #3fae49;
  width: 85%;
  margin-top: 10px;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
}

h1 {
  font-family: Millunium-Medium, sans-serif;
  font-size: 38px;
  line-height: 38px;
}

h2 {
  font-family: Millunium-Medium, sans-serif;
  font-size: 32px;
  line-height: 38px;
}

h3 {
  font-family: Millunium-Medium, sans-serif;
  letter-spacing: 1px;
  font-size: 24px;
  line-height: 28px;
}

h4 {
  font-size: 15px;
  line-height: 20px;
}

h5 {
  font-size: 15px;
  line-height: 16px;
}

p {
  font-size: 13px;
  line-height: 22px;
}

.bg-dark {
  position: fixed;
  background: #000;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: 0.3s;
  opacity: 0;
}

.content-container {
  width: 100%;
}

.container-global {
  position: relative;
  width: auto;
  padding: 40px 0 0;
  margin: auto;
}

.info-box-first {
  padding: 26px;
  margin: 0 10px;
  box-shadow: 0 3px 10px -5px #000;
  background: #fff;
}

.para-info-box-first {
  color: #545454;
}

.info-box-second {
  padding: 30px;
  background: #3fae49;
  color: #fff;
}

.sub-title {
  font-family: Raleway-Bold, sans-serif;
  color: #7f7f7f;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: auto;
  font-size: 16px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

@media only screen and (min-width: 768px) {
  .button {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    padding: 14px 90px;
    width: auto;
    transition: 0.2s;
  }

  h1 {
    font-size: 64px;
    line-height: 64px;
  }

  h2 {
    font-size: 48px;
    line-height: 56px;
  }

  h3 {
    font-size: 32px;
    line-height: 38px;
    margin: 15px auto 20px;
  }

  h4 {
    font-size: 18px;
    line-height: 20px;
  }

  h5 {
    font-size: 16px;
    line-height: 18px;
  }

  p {
    font-size: 15px;
    line-height: 24px;
  }

  .content-container {
    width: 100%;
  }

  .container-global {
    padding: 100px 0 0;
  }

  .info-box-first {
    margin: auto;
    padding: 46px;
  }

  .sub-title {
    letter-spacing: 3px;
    font-size: 18px;
  }
}
@media only screen and (min-width: 1200px) {
  .button:before {
    pointer-events: none;
    content: "";
    position: absolute;
    border: #3fae49 solid 4px;
    top: -16px;
    right: -16px;
    bottom: -16px;
    left: -16px;
    opacity: 0;
    transition-duration: 0.3s;
    transition-property: top, right, bottom, left;
  }
  .button:hover:before {
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    opacity: 1;
  }

  .container-global {
    width: 1200px;
  }
}
.content-about-tournament {
  background: #f5f5f5;
}

.button-about-tournament {
  width: 100%;
}

.col-1-about-tournament {
  flex-basis: auto;
  flex-grow: 0;
  max-width: 100%;
  z-index: 2;
}

.col-2-about-tournament {
  flex-basis: auto;
  flex-grow: 0;
  margin-top: -40px;
  max-width: 100%;
  overflow: hidden;
  z-index: 1;
}
.col-2-about-tournament .about-tournament-image {
  width: 200%;
  margin-left: -36%;
}
@media only screen and (min-width: 520px) {
  .col-2-about-tournament .about-tournament-image {
    width: 100%;
    margin-left: 0;
  }
}

.col-3-about-tournament {
  max-width: 100%;
  margin: auto;
  z-index: 1;
}
.col-3-about-tournament .info-box-second-about-tournament {
  padding: 40px;
  width: auto;
  margin: -5px auto 0;
}
.col-3-about-tournament .info-box-second-about-tournament .sub-title-about-tournament {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.row-about-tournament-second {
  display: block;
}
.row-about-tournament-second .col-about-tournament-second {
  margin-top: 30px;
}
.row-about-tournament-second .col-about-tournament-second .number {
  font-family: Millunium-Bold, sans-serif;
  text-align: center;
  font-size: 42px;
}
.row-about-tournament-second .col-about-tournament-second .para-about-tournament {
  font-size: 16px;
  margin: 0;
  text-align: center;
  font-family: Raleway-Bold, sans-serif;
  line-height: 18px;
}

@media only screen and (min-width: 768px) {
  .button-about-tournament {
    width: inherit;
  }

  .row-about-tournament-first {
    margin: 0 20px;
  }

  .col-1-about-tournament {
    order: 1;
    max-width: 75%;
  }

  .col-2-about-tournament {
    order: 3;
    margin: -20px 0 0 40px;
    max-width: 75%;
  }
  .col-2-about-tournament .about-tournament-image {
    width: 100%;
    margin: auto;
  }

  .col-3-about-tournament {
    right: 20px;
    position: absolute;
    max-width: 29%;
    order: 2;
    margin: 110px 0 0 -30px;
  }
  .col-3-about-tournament .info-box-second-about-tournament {
    padding: 40px 20px 40px 50px;
    margin: auto;
  }
}
@media only screen and (min-width: 1200px) {
  .button-about-tournament {
    width: auto;
  }

  .row-about-tournament-first {
    margin: auto;
  }

  .col-1-about-tournament {
    order: 1;
    max-width: 100%;
  }
  .col-1-about-tournament .info-box-first-about-tournament {
    width: 43%;
    margin: 0;
  }

  .col-2-about-tournament {
    position: absolute;
    order: 2;
    top: 120px;
    right: 0;
    margin: auto;
    max-width: 58%;
  }
  .col-2-about-tournament .about-tournament-image {
    margin-top: 60px;
  }

  .col-3-about-tournament {
    position: static;
    order: 3;
    max-width: 39%;
    margin: -10px 0 0 86px;
  }
  .col-3-about-tournament .info-box-second-about-tournament {
    padding: 40px;
    margin: auto;
  }

  .row-about-tournament-second {
    display: flex;
  }
  .row-about-tournament-second .col-about-tournament-second {
    margin: 0;
  }
  .row-about-tournament-second .col-about-tournament-second .para-about-tournament {
    font-size: 14px;
  }
}
.content-awards {
  background: #fff;
  margin-top: -110px;
  padding-bottom: 40px;
}

.container-awards {
  text-align: center;
  padding-top: 140px;
  margin: 20px;
}

.sub-title-awards {
  color: #7f7f7f;
}

.h3-awards {
  width: auto;
}

.row-awards {
  display: block;
}

.h2-awards {
  font-size: 40px;
  color: #999;
  margin-bottom: 20px;
}
.h2-awards.first-place {
  color: #3fae49;
}

.para-award {
  font-family: Raleway-Bold, sans-serif;
  font-size: 18px;
  width: 90%;
  margin: 20px auto 0;
}

@media only screen and (min-width: 768px) {
  .content-awards {
    padding-bottom: 80px;
  }

  .container-awards {
    padding-top: 200px;
    margin: auto;
  }

  .h3-awards {
    width: 600px;
  }

  .row-awards {
    display: flex;
    justify-content: center;
  }

  .col-awards {
    flex-basis: auto;
    flex-grow: 0;
    width: 33%;
  }

  .image-reward {
    display: flex;
    justify-content: center;
    height: 80px;
  }

  .para-award {
    font-size: 14px;
    line-height: 20px;
    margin: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  .row-awards {
    margin: auto;
  }

  .col-awards {
    flex-basis: 0;
    flex-grow: 1;
    width: auto;
  }
}
.content-contact {
  background: #fff;
  margin-top: -150px;
}

.container-contact {
  padding-top: 140px;
}

.col-1-contact {
  flex-basis: auto;
}
.col-1-contact .iamge-contact {
  width: 100%;
}

.col-2-contact {
  flex-basis: auto;
  margin: 20px;
}
.col-2-contact .h3-contact {
  margin: 5px 0 30px;
}

.form-contact {
  background: #fff;
}
.form-contact .form-name,
.form-contact .form-email,
.form-contact .form-message {
  position: relative;
}
.form-contact .form-name .input-form,
.form-contact .form-email .input-form,
.form-contact .form-message .input-form {
  font-family: Roboto Regular, sans-serif;
  border: 0;
  border-bottom: 1px solid #cecece;
  font-size: 14px;
  padding-bottom: 10px;
  background: #fff;
  margin: 0;
  width: 100%;
  letter-spacing: 0;
  resize: none;
  white-space: nowrap;
  overflow-x: hidden;
}
.form-contact .form-name .text-validate,
.form-contact .form-email .text-validate,
.form-contact .form-message .text-validate {
  display: none;
  color: #CC1312;
  font-size: 12px;
  padding: 6px;
  background: #f5f5f5;
}
.form-contact .form-name,
.form-contact .form-email {
  display: inline-block;
  margin-bottom: 20px;
  width: 100%;
}
.form-contact .form-email {
  float: right;
}
.form-contact .form-message {
  margin-top: 10px;
  width: calc(100% - 30px);
}
.form-contact .form-message .input-form {
  height: 70px;
  border: 1px solid #cecece;
  padding: 15px;
  border-radius: 2px;
  background: #f5f5f5;
}

.button-submit {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .container-contact {
    padding: 160px 0 0;
    margin: auto;
  }

  .col-1-contact {
    flex-basis: auto;
    margin: 20px;
    height: 400px;
    overflow: hidden;
  }
  .col-1-contact .iamge-contact {
    margin-top: -35px;
  }

  .col-2-contact {
    margin: 60px;
  }

  .form-contact .form-name,
.form-contact .form-email {
    width: 48%;
  }

  .button-submit {
    width: auto;
  }
}
@media only screen and (min-width: 1200px) {
  .content-contact {
    margin-top: 0;
  }

  .container-contact {
    padding: 100px 0;
  }

  .row-contact {
    margin: auto;
    display: flex;
    align-items: center;
  }

  .col-1-contact {
    margin: 0;
    height: auto;
    max-width: 45%;
  }
  .col-1-contact .iamge-contact {
    margin-top: 0;
  }

  .col-2-contact {
    max-width: 55%;
    margin: 0 0 0 60px;
  }

  .form-contact .form-name,
.form-contact .form-email {
    margin-bottom: 10px;
  }
  .form-contact .form-message {
    margin-bottom: 10px;
  }
}
.footer {
  position: static;
  bottom: 0;
  padding: 20px;
  color: #fff;
  background: #1e3066;
  text-align: center;
}
.footer .cp-right {
  display: block;
  margin: auto;
  font-size: 14px;
  padding: 10px 0;
}

@media only screen and (min-width: 1200px) {
  .footer {
    padding: 30px 0;
  }
}
.content-home {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/pp-main-background.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.container-home {
  text-align: center;
  color: white;
  margin: 20px 20px 0;
}

.h1-home {
  margin: 6px 0 16px;
}

.arrow-down-home {
  display: block;
  margin: 20px auto 0;
}

.description-home {
  font-size: 13px;
}

.sub-title-home {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .content-home {
    height: 700px;
  }

  .arrow-down-home {
    display: block;
    margin: 60px auto 0;
  }

  .description-home {
    margin: 20px 40px;
    font-size: 15px;
  }
}
@media only screen and (min-width: 1200px) {
  .content-home {
    height: 720px;
    background-size: 110%;
  }

  .container-home {
    width: 1200px;
    margin: auto;
  }

  .h1-home {
    margin: 14px 0 32px;
  }

  .description-home {
    font-size: 14px;
    width: 600px;
    margin: 0 auto 40px;
  }
}
.content-how-join {
  background: #f5f5f5;
}

.container-how-join {
  padding: 40px 0;
}

.col-1-how-join {
  flex-basis: auto;
  flex-grow: 0;
  z-index: 2;
}

.button-how-join {
  width: 100%;
}

.col-2-how-join {
  flex-basis: auto;
  flex-grow: 0;
  margin: -40px 0 0;
  z-index: 1;
}

.info-box-second-how-join {
  position: relative;
  padding: 80px 20px 30px;
}
.info-box-second-how-join .info-box-second-how-join-para {
  margin: 0;
}
.info-box-second-how-join .info-box-second-how-join-para:before {
  content: '"';
  font-family: Millunium-Bold, sans-serif;
  position: absolute;
  top: 160px;
  right: 40px;
  font-size: 220px;
  opacity: 0.1;
}

.social-proof {
  margin-top: 40px;
}
.social-proof .image-social-proof {
  display: inline-block;
  vertical-align: middle;
  width: 70px;
  margin-right: 15px;
  background: #fff;
  border-radius: 100%;
}

.social-description {
  display: inline-block;
  vertical-align: middle;
}
.social-description .h5-social-description {
  margin: 0;
}
.social-description .para-social-description {
  font-size: 12px;
  margin: 0;
}
.social-description .para-social-description:before {
  content: none;
}

@media only screen and (min-width: 768px) {
  .row-how-join {
    margin: 20px;
  }

  .col-1-how-join,
.col-2-how-join {
    flex-basis: auto;
    flex-grow: 0;
    width: 85%;
  }

  .button-how-join {
    width: auto;
  }

  .col-2-how-join {
    margin: -40px 0 0 15%;
  }

  .info-box-second-how-join {
    padding: 80px 30px 30px 100px;
  }
  .info-box-second-how-join .info-box-second-how-join-para:before {
    top: 120px;
    left: 40px;
    font-size: 120px;
    opacity: 0.4;
  }

  .social-description .para-social-description {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1200px) {
  .container-how-join {
    padding: 100px 0;
  }

  .row-how-join {
    margin: auto;
    display: flex;
  }

  .col-1-how-join,
.col-2-how-join {
    max-width: 51%;
  }

  .button-how-join {
    width: auto;
  }

  .col-2-how-join {
    margin: 50px 0 0 -60px;
  }

  .info-box-second-how-join {
    padding: 40px 30px 40px 140px;
  }
  .info-box-second-how-join .info-box-second-how-join-para:before {
    top: 76px;
    left: 80px;
    font-size: 120px;
    opacity: 0.4;
  }

  .social-description .para-social-description {
    font-size: 14px;
  }
}
.navbar-container {
  position: fixed;
  width: 100%;
  background: transparent;
  padding: 5px 0 10px 0;
  border: none;
  z-index: 999;
  transition: 0.4s ease-in-out;
}
.navbar-container.navbar-fixed {
  background: #1e3066;
  box-shadow: 0 0 6px 0 #000;
  padding: 0;
}

.navbar-header {
  display: block;
  width: 100%;
}

.navbar-image-crop {
  display: inline-block;
  width: 60px;
  overflow: hidden;
  transition: 0.3s;
}
.navbar-image-crop .logo-img {
  margin: 12px 20px 4px;
  cursor: pointer;
  transition: 0.3s;
}

.burger {
  position: relative;
  float: right;
  top: 16px;
  right: 20px;
  cursor: pointer;
  z-index: 2;
}
.burger .bar1, .burger .bar2, .burger .bar3 {
  width: 26px;
  height: 3px;
  border-radius: 4px;
  background-color: #fff;
  margin: 5px 0;
}

.close-button {
  display: none;
  position: relative;
  float: right;
  top: 11px;
  right: 20px;
  cursor: pointer;
  z-index: 2;
}
.close-button .bar1 {
  width: 26px;
  height: 6px;
  background-color: #bbc1d1;
  margin: 8px -2px;
  border-radius: 4px;
  transform: rotate(-45deg) translate(-6px, 8px);
}
.close-button .bar2 {
  width: 26px;
  height: 6px;
  background-color: #bbc1d1;
  margin: 16px 0;
  border-radius: 4px;
  transform: rotate(45deg) translate(-9px, -8px);
}

.navbar-nav {
  position: fixed;
  top: 0;
  right: 0;
  background: #1e3066;
  padding: 80px 0 20px;
  margin: 0;
  overflow-x: hidden;
  transition: 0.3s ease-in-out;
  width: 0;
  height: 100%;
  z-index: 1;
}
.navbar-nav .navbar-menu {
  position: fixed;
  top: 0;
  right: 0;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  transition: 0.6s;
  height: 100%;
  width: 0;
  z-index: 1;
}

.first-list {
  height: 80px;
}

.navbar-list {
  font-family: Raleway-Medium, sans-serif;
  position: relative;
  display: block;
  text-align: center;
  font-size: 22px;
  cursor: pointer;
}
.navbar-list .list-link {
  display: block;
  padding: 10px 0 10px 60px;
  text-align: left;
  width: 100%;
  color: #fff;
}
.navbar-list .list-link.active:before {
  content: "";
  position: absolute;
  background: #3fae49;
  height: 4px;
  width: 40px;
  top: 21px;
  left: 0;
}

@media only screen and (min-width: 768px) {
  .navbar-container.navbar-fixed .navbar-image-crop {
    width: 36px;
  }

  .navbar-header {
    margin: 15px 20px;
  }

  .navbar-image-crop {
    height: 36px;
    width: 180px;
  }
  .navbar-image-crop .logo-img {
    margin: 0 40px 0 0;
  }

  .burger {
    top: 6px;
    right: 50px;
  }

  .close-button {
    top: 2px;
    right: 50px;
  }

  .navbar-list {
    font-size: 38px;
  }
  .navbar-list .list-link {
    padding: 20px 0 20px 130px;
  }
  .navbar-list .list-link.active:before {
    height: 6px;
    width: 80px;
    top: 42px;
    left: 10px;
  }
}
@media only screen and (min-width: 1200px) {
  .navbar-container {
    padding: 20px 0;
  }
  .navbar-container.navbar-fixed .navbar-image-crop {
    width: 180px;
  }

  .navbar-header {
    width: 1200px;
    margin: 10px auto;
  }

  .navbar-image-crop .logo-img:hover {
    transform: scale(0.9);
  }

  .burger {
    display: none;
  }

  .navbar-nav {
    position: static;
    background: transparent;
    padding: 0;
    margin: 0;
    width: auto;
    float: right;
    vertical-align: middle;
  }
  .navbar-nav .navbar-menu {
    position: static;
    background: transparent;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    width: auto;
  }

  .first-list {
    display: none;
  }

  .navbar-list {
    font-family: Raleway-Bold, sans-serif;
    display: inline-block;
    margin-left: 20px;
    font-size: 14px;
    padding: 10px 0;
  }
  .navbar-list .list-link {
    padding: 4px 0;
    text-align: right;
    transition: 0.1s;
    border-bottom: 2px solid transparent;
  }
  .navbar-list .list-link.active, .navbar-list .list-link:hover {
    border-bottom: 2px solid #3fae49;
  }
  .navbar-list .list-link.active:before, .navbar-list .list-link:hover:before {
    content: none;
  }
}

/*# sourceMappingURL=main-dev.css.map */
