/// Colors
$primaryColor: #1e3066;
$secondaryColor: #fff;
$thirdColor: #3fae49;

/// Functionality
$navBarBackgroundTopColor: transparent;
$navBarBackgroundFixedColor: $primaryColor;
$closeButtonColor: #bbc1d1;
$navBarColor: $secondaryColor;
$formBackgroundColor: $secondaryColor;
$shadowColor: #000;
$borderColor: #cecece;
$backgroundBodyColor: $secondaryColor;
$backgroundContactColor: #f5f5f5;
$backgroundSecondBodyColor: #f5f5f5;
$subTitleHomeColor: $secondaryColor;
$primarySubTitleColor: $secondaryColor;
$secondarySubTitleColor: #7f7f7f;
$primaryParagraphColor: $secondaryColor;
$secondaryParagraphColor: #545454;
$backgroundBoxFirstColor: $secondaryColor;
$backgroundBoxSecondColor: $thirdColor;
$activeButtonColor: $thirdColor;
$placeColor: #999;
$textError: #CC1312;
$buttonColor: $secondaryColor;
$buttonBackgroundColor: $thirdColor;
$footerBackgroundColor: $primaryColor;
$darkBackgroundColor: #000;