@font-face {
    font-family: Millunium-Medium;
    src:    url("../fonts/Millunium-Medium/Millunium-Medium.ttf"),
            url("../fonts/Millunium-Medium/Millunium-Medium.eot") format("eot"),
            url("../fonts/Millunium-Medium/Millunium-Medium.woff2") format("woff2"),
            url("../fonts/Millunium-Medium/Millunium-Medium.woff") format("woff"),
            url("../fonts/Millunium-Medium/Millunium-Mediumo.ttf") format("truetype"),
            url("../fonts/Millunium-Medium/Millunium-Medium.svg") format("svg");
}

@font-face {
    font-family: Millunium-Bold;
    src: url("../fonts/Millunium-Bold/Millunium-Bold.ttf");
}

@font-face {
    font-family: Raleway-Regular;
    src: url("../fonts/Raleway/Raleway-Regular.ttf");
}

@font-face {
    font-family: Raleway-Medium;
    src: url("../fonts/Raleway/Raleway-Medium.ttf");
}

@font-face {
    font-family: Raleway-Bold;
    src: url("../fonts/Raleway/Raleway-Bold.ttf");
}