.content-about-tournament {
    background: $backgroundSecondBodyColor;
}

.button-about-tournament {
    width: 100%;
}

.col-1-about-tournament {
    flex-basis: auto;
    flex-grow: 0;
    max-width: 100%;
    z-index: 2;
}

.col-2-about-tournament {
    flex-basis: auto;
    flex-grow: 0;
    margin-top: -40px;
    max-width: 100%;
    overflow: hidden;
    z-index: 1;

    .about-tournament-image {
        width: 200%;
        margin-left: -36%;

        @media only screen and (min-width: 520px) {
            width: 100%;
            margin-left: 0;
        }
    }
}

.col-3-about-tournament {
    max-width: 100%;
    margin: auto;
    z-index: 1;

    .info-box-second-about-tournament {
        padding: 40px;
        width: auto;
        margin: -5px auto 0;

        .sub-title-about-tournament {
            color: $primarySubTitleColor;
            text-align: center;
            margin-bottom: 20px;
        }
    }
}

.row-about-tournament-second {
    display: block;
}

.col-about-tournament-second {
    margin-top: 30px;

    .number {
        font-family: Millunium-Bold, sans-serif;
        text-align: center;
        font-size: 42px;
    }

    .para-about-tournament {
        font-size: 16px;
        margin: 0;
        text-align: center;
        font-family: Raleway-Bold, sans-serif;
        line-height: 18px;
    }
}

@media only screen and (min-width: $medium) {

    .button-about-tournament {
        width: inherit;
    }

    .row-about-tournament-first {
        margin: 0 20px;
    }

    .col-1-about-tournament {
        order: 1;
        max-width: 75%;
    }

    .col-2-about-tournament {
        order: 3;
        margin: -20px 0 0 40px;
        max-width: 75%;

        .about-tournament-image {
            width: 100%;
            margin: auto;
        }
    }

    .col-3-about-tournament {
        right: 20px;
        position: absolute;
        max-width: 29%;
        order: 2;
        margin: 110px 0 0 -30px;

        .info-box-second-about-tournament {
            padding: 40px 20px 40px 50px;
            margin: auto;
        }
    }

}

@media only screen and (min-width: $large) {

    .button-about-tournament {
        width: auto;
    }

    .row-about-tournament-first {
        margin: auto;
    }

    .col-1-about-tournament {
        order: 1;
        max-width: 100%;

        .info-box-first-about-tournament {
            width: 43%;
            margin: 0;
        }
    }

    .col-2-about-tournament {
        position: absolute;
        order: 2;
        top: 120px;
        right: 0;
        margin: auto;
        max-width: 58%;

        .about-tournament-image {
            margin-top: 60px;
        }
    }

    .col-3-about-tournament {
        position: static;
        order: 3;
        max-width: 39%;
        margin: -10px 0 0 86px;

        .info-box-second-about-tournament {
            padding: 40px;
            margin: auto;
        }
    }

    .row-about-tournament-second {
        display: flex;
    }

    .col-about-tournament-second {
        margin: 0;

        .para-about-tournament {
            font-size: 14px;
        }
    }

}