.content-container {

    .content-about-tournament {
        background: $backgroundSecondBodyColor;

        .container-about-tournament {

            .row {

                .col-1 {
                    flex-basis: auto;
                    flex-grow: 0;
                    max-width: 100%;
                    z-index: 2;

                    .info-box-first {

                        button {
                            width: 100%;
                        }
                    }
                }

                .col-2 {
                    flex-basis: auto;
                    flex-grow: 0;
                    margin-top: -40px;
                    max-width: 100%;
                    overflow: hidden;
                    z-index: 1;

                    img {
                        width: 200%;
                        margin-left: -36%;

                        @media only screen and (min-width: 520px) {
                            width: 100%;
                            margin-left: 0;
                        }
                    }
                }

                .col-3 {
                    max-width: 100%;
                    margin: auto;
                    z-index: 1;

                    .info-box-second {
                        padding: 40px;
                        width: auto;
                        margin: -5px auto 0;

                        .sub-title {
                            color: $primarySubTitleColor;
                            text-align: center;
                            margin-bottom: 20px;
                        }

                        .row {
                            display: block;

                            .col {
                                margin-top: 30px;

                                .number {
                                    font-family: Millunium-Bold, sans-serif;
                                    text-align: center;
                                    font-size: 42px;
                                }

                                p {
                                    font-size: 16px;
                                    margin: 0;
                                    text-align: center;
                                    font-family: Raleway-Bold, sans-serif;
                                    line-height: 18px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: $medium) {

    .content-container {

        .content-about-tournament {

            .container-about-tournament {

                .row {
                    margin: 0 20px;

                    .col-1 {
                        order: 1;
                        max-width: 75%;

                        .info-box-first {

                            button {
                                width: inherit;
                            }
                        }
                    }

                    .col-2 {
                        order: 3;
                        margin: -20px 0 0 40px;
                        max-width: 75%;

                        img {
                            width: 100%;
                            margin: auto;
                        }
                    }

                    .col-3 {
                        right: 20px;
                        position: absolute;
                        max-width: 29%;
                        order: 2;
                        margin: 110px 0 0 -30px;

                        .info-box-second {
                            padding: 40px 20px 40px 50px;
                            margin: auto;
                        }
                    }
                }
            }
        }
    }

}

@media only screen and (min-width: $large) {

    .content-container {

        .content-about-tournament {

            .container-about-tournament {

                .row {
                    margin: auto;

                    .col-1 {
                        order: 1;
                        max-width: 100%;

                        .info-box-first {
                            width: 43%;
                            margin: 0;

                            button {
                                width: auto;
                            }
                        }
                    }

                    .col-2 {
                        position: absolute;
                        order: 2;
                        top: 120px;
                        right: 0;
                        margin: auto;
                        max-width: 58%;

                        img {
                            width: 100%;
                            margin-top: 60px;
                        }
                    }

                    .col-3 {
                        position: static;
                        order: 3;
                        max-width: 39%;
                        margin: -10px 0 0 86px;

                        .info-box-second {
                            padding: 40px;
                            margin: auto;

                            .row {
                                display: flex;

                                .col {
                                    margin: 0;

                                    p {
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}