.content-awards {
    background: $backgroundBodyColor;
    margin-top: -110px;
    padding-bottom: 40px;
}

.container-awards {
    text-align: center;
    padding-top: 140px;
    margin: 20px;
}

.sub-title-awards {
    color: $secondarySubTitleColor;
}

.h3-awards {
    width: auto;
}

.row-awards {
    display: block;
}

.h2-awards {
    font-size: 40px;
    color: $placeColor;
    margin-bottom: 20px;

    &.first-place {
        color: $activeButtonColor;
    }
}

.para-award {
    font-family: Raleway-Bold, sans-serif;
    font-size: 18px;
    width: 90%;
    margin: 20px auto 0;
}

@media only screen and (min-width: $medium) {

    .content-awards {
        padding-bottom: 80px;
    }

    .container-awards {
        padding-top: 200px;
        margin: auto;
    }

    .h3-awards {
        width: 600px;
    }

    .row-awards {
        display: flex;
        justify-content: center;
    }

    .col-awards {
        flex-basis: auto;
        flex-grow: 0;
        width: 33%;
    }

    .image-reward {
        display: flex;
        justify-content: center;
        height: 80px;
    }

    .para-award {
        font-size: 14px;
        line-height: 20px;
        margin: 20px;
    }

}

@media only screen and (min-width: $large) {

    .row-awards {
        margin: auto;
    }

    .col-awards {
        flex-basis: 0;
        flex-grow: 1;
        width: auto;
    }

}