.content-contact {
    background: $backgroundBodyColor;
    margin-top: -80px;
}

.col-1-contact {
    flex-basis: auto;

    .iamge-contact {
        width: 100%;
    }
}

.col-2-contact {
    flex-basis: auto;
    margin: 20px;

    .h3-contact {
        margin: 5px 0 30px;
    }
}

.form-contact {
    background: $formBackgroundColor;

    .form-name,
    .form-email,
    .form-message {
        position: relative;

        .input-form {
            font-family: Roboto Regular, sans-serif;
            border: 0;
            border-bottom: 1px solid $borderColor;
            font-size: 14px;
            padding-bottom: 10px;
            background: $formBackgroundColor;
            margin: 0;
            width: 100%;
            letter-spacing: 0;
            resize: none;
            white-space: nowrap;
            overflow-x: hidden;
        }

        .text-validate {
            display: none;
            color: $textError;
            font-size: 12px;
            padding: 6px;
            background: $backgroundContactColor;
        }
    }

    .form-name ,
    .form-email {
        display: inline-block;
        margin-bottom: 20px;
        width: 100%;
    }

    .form-email {
        float: right;
    }

    .form-message {
        margin-top: 10px;
        width: calc(100% - 30px);

        .input-form {
            height: 70px;
            border: 1px solid $borderColor;
            padding: 15px;
            border-radius: 2px;
            background: $backgroundSecondBodyColor;
        }
    }
}

.button-submit {
    width: 100%;
}

@media only screen and (min-width: $medium) {

    .content-contact {
        margin-top: -150px;
    }

    .container-contact {
        padding: 160px 0 0;
        margin: auto;
    }

    .col-1-contact {
        flex-basis: auto;
        margin: 20px;
        height: 400px;
        overflow: hidden;

        .iamge-contact {
            margin-top: -35px;
        }
    }

    .col-2-contact {
        margin: 60px;
    }

    .form-contact {

        .form-name ,
        .form-email {
            width: 48%;
        }
    }

    .button-submit {
        width: auto;
    }

}

@media only screen and (min-width: $large) {

    .content-contact {
        margin-top: 0;
    }

    .container-contact {
        padding: 100px 0;
    }

    .row-contact {
        margin: auto;
        display: flex;
        align-items: center;
    }

    .col-1-contact {
        margin: 0;
        height: auto;
        max-width: 45%;

        .iamge-contact {
            margin-top: 0;
        }
    }

    .col-2-contact {
        max-width: 55%;
        margin: 0 0 0 60px;
    }

    .form-contact {

        .form-name ,
        .form-email {
            margin-bottom: 10px;
        }

        .form-message {
            margin-bottom: 10px;
        }
    }

}