.footer {
    position: static;
    bottom: 0;
    padding: 20px;
    color: $secondaryColor;
    background: $footerBackgroundColor;
    text-align: center;

    .cp-right {
        display: block;
        margin: auto;
        font-size: 14px;
        padding: 10px 0;
    }
}

@media only screen and (min-width: $large) {

    .footer {
        padding: 30px 0;
    }

}