.content-how-join {
    background: $backgroundSecondBodyColor;
}

.container-how-join {
    padding: 40px 0;
}

.col-1-how-join {
    flex-basis: auto;
    flex-grow: 0;
    z-index: 2;
}

.button-how-join {
    width: 100%;
}

.col-2-how-join {
    flex-basis: auto;
    flex-grow: 0;
    margin: -40px 0 0;
    z-index: 1;
}

.info-box-second-how-join {
    position: relative;
    padding: 80px 20px 30px;

    .info-box-second-how-join-para {
        margin: 0;

        &:before {
            content: '"';
            font-family: Millunium-Bold, sans-serif;
            position: absolute;
            top: 160px;
            right: 40px;
            font-size: 220px;
            opacity: 0.1;
        }
    }
}

.social-proof {
    margin-top: 40px;

    .image-social-proof {
        display: inline-block;
        vertical-align: middle;
        width: 70px;
        margin-right: 15px;
        background: $backgroundBodyColor;
        border-radius: 100%;
    }
}

.social-description {
    display: inline-block;
    vertical-align: middle;

    .h5-social-description {
        margin: 0;
    }

    .para-social-description {
        font-size: 12px;
        margin: 0;

        &:before {
            content: none;
        }
    }
}

@media only screen and (min-width: $medium) {

    .row-how-join {
        margin: 20px;
    }

    .col-1-how-join,
    .col-2-how-join {
        flex-basis: auto;
        flex-grow: 0;
        width: 85%;
    }

    .button-how-join {
        width: auto;
    }

    .col-2-how-join {
        margin: -40px 0 0 15%;
    }

    .info-box-second-how-join {
        padding: 80px 30px 30px 100px;

        .info-box-second-how-join-para {

            &:before {
                top: 120px;
                left: 40px;
                font-size: 120px;
                opacity: 0.4;
            }
        }
    }

    .social-description {

        .para-social-description {
            font-size: 14px;
        }
    }

}

@media only screen and (min-width: $large) {

    .container-how-join {
        padding: 100px 0;
    }

    .row-how-join {
        margin: auto;
        display: flex;
    }

    .col-1-how-join,
    .col-2-how-join {
        max-width: 51%;
    }

    .button-how-join {
        width: auto;
    }

    .col-2-how-join {
        margin: 50px 0 0 -60px;
    }

    .info-box-second-how-join {
        padding: 40px 30px 40px 140px;

        .info-box-second-how-join-para {

            &:before {
                top: 76px;
                left: 80px;
                font-size: 120px;
                opacity: 0.4;
            }
        }
    }

    .social-description {

        .para-social-description {
            font-size: 14px;
        }
    }

}